<h2>about me</h2>
<p>I make computers do what I want, more or less.</p>

<p>I am looking for full-time employment.</p>

<p>I cofounded <a href="http://www.pitchbreakfast.com">TechBreakfast CLT</a> with <strong>Vic Howie</strong>.</p>

<p>I cofounded <a href="http://www.codeforcharlotte.org">Code for Charlotte</a> with <strong>Jill Bjers</strong>.</p>

<p>I've published a <a href="http://bitly.com/bigfleet-newsletter">newsletter for Charlotte startups</a> for over two years.</p>

<p>I've attended or co-organized every <a href="http://charlotte.startupweekend.org">Charlotte Startup Weekend</a>.</p>
