<h2>about me</h2>
<p>I make computers do what I want, more or less.</p>

<p>I am growing my freelancing business, <a href="http://isbspoke.com">it's bspoke</a>.</p>

<p>I cofounded <a href="http://techbreakfastclt.itsbspoke.com">TechBreakfast CLT</a> with <strong>Vic Howie</strong>.</p>

<p>I am launching a <a href="http://www.launchpadcodeacademy.com">Charlotte software school</a> this fall.</p>

<p>I've published a <a href="http://bitly.com/bigfleet-newsletter">newsletter for Charlotte startups</a> for over two years.</p>

<p>I've attended or co-organized every <a href="http://charlotte.startupweekend.org">Charlotte Startup Weekend</a>.</p>
